* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display:flex;
  align-items: center;
  gap:0.5rem;
  font-size: 1.3rem;
}

.nav a{
  text-decoration: none;
  padding-right: 1rem;
}

.home-container{
  height:100vh;
  border:1px solid green;
}
